<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    <title>BICYCLE SEARCH</title>
    <!-- bootstrapを読み込む -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link th:href="@{/css/bs.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <!-- jqueryを読み込む -->
    <script type="text/javascript" th:src="@{/js/jquery-3.6.1.min.js}"></script>
    
    <!-- header用css -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/css/reset.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/header-14.css}" />
    
</head>
<body>
  
  <div th:replace="header :: header"></div>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="sidebar-fixed">
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="d-flex flex-row bd-highlight mb-3">
              <div><p class="text-1">販売名 &nbsp;</p></div>
              <div><p class="text-1" th:text="${bicycles.bikename}"></p></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex flex-row bd-highlight mb-3">
              <div><p class="text-1">価格 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></div>
              <div><p class="text-1">&yen;</p></div>
              <div><p class="text-1" th:text="${bicycles.value}"></p></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex flex-row bd-highlight mb-3">
              <div><p class="text-1">カラー&nbsp;&nbsp;</p></div>
              <div><p class="text-1" th:text="${bicycles.color}"></p></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex flex-row bd-highlight mb-3">
              <div><p class="text-1">サイズ &nbsp;&nbsp;</p></div>
              <div><p class="text-1" th:text="${bicycles.size}"></p></div>
            </div>
          </li>
          <li class="list-group-item">
            <form method="GET" th:action="@{/portfolio/shoplist}" th:object="${getShopForm}">
              <input type="hidden" name="id" th:value="${bicycles.id}">
              <button type="submit" class="btn btn-outline-dark">
                販売店検索
              </button>
            </form>
          </li>
        </ul>
        </div>
      </div>
      
      <div class="col">
          <img th:src="@{/image/{bicycles.imageurl}.jpg (bicycles.imageurl=${bicycles.imageurl})}" alt="road bike pictures" width="70%" height="70%" style="display: block; margin: auto;">
        
        <table class="table table-striped">
          <thead>
            <tr>
              <th>SPEC</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Frame</th>
              <td><p th:text="${bicycles.frame}"></td>
            </tr>
            <tr>
              <th scope="row">Fork</th>
              <td><p th:text="${bicycles.fork}"></td>
            </tr>
            <tr>
              <th scope="row">Handlebar</th>
              <td><p th:text="${bicycles.handlebar}"></td>
            </tr>
            <tr>
              <th scope="row">Frontwheel</th>
              <td><p th:text="${bicycles.forntwheel}"></td>
            </tr>
            <tr>
              <th scope="row">Rearwheel</th>
              <td><p th:text="${bicycles.rearwheel}"></td>
            </tr>
            <tr>
              <th scope="row">Rims</th>
              <td><p th:text="${bicycles.rims}"></td>
            </tr>
            <tr>
              <th scope="row">Tires</th>
              <td><p th:text="${bicycles.tires}"></td>
            </tr>
            <tr>
              <th scope="row">Tiresize</th>
              <td><p th:text="${bicycles.tiresize}"></td>
            </tr>
            <tr>
              <th scope="row">Shifters</th>
              <td><p th:text="${bicycles.shifters}"></td>
            </tr>
            <tr>
              <th scope="row">Frontderailleur</th>
              <td><p th:text="${bicycles.forntderailleur}"></td>
            </tr>
            <tr>
              <th scope="row">Rearderailleur</th>
              <td><p th:text="${bicycles.rearderailleur}"></td>
            </tr>
            <tr>
              <th scope="row">Crank</th>
              <td><p th:text="${bicycles.crank}"></td>
            </tr>
            <tr>
              <th scope="row">Bottombracket</th>
              <td><p th:text="${bicycles.bottombracket}"></td>
            </tr>
            <tr>
              <th scope="row">Chain</th>
              <td><p th:text="${bicycles.chain}"></td>
            </tr>
            <tr>
              <th scope="row">Saddle</th>
              <td><p th:text="${bicycles.saddle}"></td>
            </tr>
            <tr>
              <th scope="row">Seatpost</th>
              <td><p th:text="${bicycles.seatpost}"></td>
            </tr>
            <tr>
              <th scope="row">Stem</th>
              <td><p th:text="${bicycles.stem}"></td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
  

</body>
</html>