<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="meta_header">
    <meta charset="UTF-8" />
    <title>Headers - 14</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{styles/reset.min.css}" />
    <link rel="stylesheet" th:href="@{styles/style.css}" />
    <link rel="stylesheet" th:href="@{styles/header-14.css}" />
  </head>
  <body>
    <!-- Header Start -->
    <header class="site-header">
      <div class="site-header__top">
        <div class="wrapper site-header__wrapper">
          <div class="site-header__start">
            <ul class="">
              <li class=""><a href="#">About</a></li>
              <li class=""><a href="#">Contact</a></li>
            </ul>
          </div>
          <div  class="site-header__middle">
            <p class="brand">BICYCLE SEARCH</p>
          </div>
        </div>
      </div>
      <div class="site-header__bottom">
        <div class="wrapper site-header__wrapper">
          <div class="site-header__start">
            <nav class="nav">
              <button class="nav__toggle" aria-expanded="false" type="button">
                menu
              </button>
              <ul class="nav__wrapper">
                <li class="nav__item"><a href="/portfolio/list">Home</a></li>
                <li class="nav__item"><a href="/portfolio/shoplistall">Shops</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->

    <script th:src="@{js/header-14.js}"></script>
  </body>
</html>