<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <title>BICYCLE SEARCH</title>
  <!-- bootstrapを読み込む -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
  <!-- jqueryを読み込む -->
  <script type="text/javascript" th:src="@{/js/jquery-3.6.1.min.js}"></script>
  <!-- bootstrap-datepickerを読み込む -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.min.css}">
  <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
  <!-- date-tableを読み込む -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}"/>
  <script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>
  
  <!-- header用css -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" th:href="@{/css/reset.min.css}" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" th:href="@{/css/header-14.css}" />
  
  </head>
<body>

  <div th:replace="header :: header"></div>

    <div class="container">
    
      <div class="search m-2">
        <form method="GET" th:action="@{/portfolio/list}" th:object="${getForm}">
            <div class="form-group">
            <div class="row">
            <p>BRAND
              <select id="brandid" name="brandid" class="form-select" th:value="${getForm.brandid}">
                <option></option>
                <option value="5" th:selected="${getForm.brandid} == 5">BIANCHI</option>
                <option value="14" th:selected="${getForm.brandid} == 14">BMC</option>
                <option value="25" th:selected="${getForm.brandid} == 25">CALAMITA</option>
                <option value="4" th:selected="${getForm.brandid} == 4">CANNONDALE</option>
                <option value="16" th:selected="${getForm.brandid} == 16">CERVELO</option>
                <option value="20" th:selected="${getForm.brandid} == 20">CINELLI</option>
                <option value="3" th:selected="${getForm.brandid} == 3">COLNAGO</option>
                <option value="19" th:selected="${getForm.brandid} == 19">CORRATEC</option>
                <option value="15" th:selected="${getForm.brandid} == 15">DE_ROSA</option>
                <option value="13" th:selected="${getForm.brandid} == 13">FELT</option>
                <option value="17" th:selected="${getForm.brandid} == 17">FUJI</option>
                <option value="6" th:selected="${getForm.brandid} == 6">GIANT</option>
                <option value="18" th:selected="${getForm.brandid} == 18">GIOS</option>
                <option value="12" th:selected="${getForm.brandid} == 12">LAPIERRE</option>
                <option value="7" th:selected="${getForm.brandid} == 7">LOOK</option>
                <option value="9" th:selected="${getForm.brandid} == 9">MERIDA</option>
                <option value="11" th:selected="${getForm.brandid} == 11">MULLER</option>
                <option value="10" th:selected="${getForm.brandid} == 10">ORBEA</option>
                <option value="8" th:selected="${getForm.brandid} == 8">PINARELLO</option>
                <option value="23" th:selected="${getForm.brandid} == 23">POLYGON</option>
                <option value="21" th:selected="${getForm.brandid} == 21">RALEIGH</option>
                <option value="22" th:selected="${getForm.brandid} == 22">RIDLEY</option>
                <option value="2" th:selected="${getForm.brandid} == 2">SCOTT</option>
                <option value="1" th:selected="${getForm.brandid} == 1">TREK</option>
                <option value="24" th:selected="${getForm.brandid} == 24">XDS</option>
              </select>
              </p>
            </div>
          </div>
          <div class="row">
              <button type="submit" class="btn btn-outline-dark">検索</button>
          </div>
        </form>
      </div>
    
      <div class="row">
        <div class="col-md-4" th:each="item: ${list}">
          <div class="border">
            <img th:src="@{/image/{item.imageurl}.jpg (item.imageurl=${item.imageurl})}" alt="road bike pictures" class="img-fluid">
            <a th:href="@{/portfolio/{id}(id=${item.id})}">
              <h3 th:text=${item.bikename}></h3>
            </a>
            <p th:text=${item.brandname}></p>
          </div>
        </div>
      </div>
      
    </div>
    
</body>
</html>